# {{ friendly_name }}

[![license-image]][license-url]
[![version-image]][release-url]
[![release-date-image]][release-url]
[![conventional-commits-image]][conventional commits]
[![jupyter-book-image]][jupyter book]

<!-- Links: -->
[license-image]: https://img.shields.io/github/license/{{ github_username }}/{{ github_repo_name }}
[license-url]: https://github.com/{{ github_username }}/{{ github_repo_name }}/blob/main/LICENSE
[version-image]: https://img.shields.io/github/v/release/{{ github_username }}/{{ github_repo_name }}?sort=semver
[release-date-image]: https://img.shields.io/github/release-date/{{ github_username }}/{{ github_repo_name }}
[release-url]: https://github.com/{{ github_username }}/{{ github_repo_name }}/releases
[conventional-commits-image]: https://img.shields.io/badge/Conventional%20Commits-1.0.0-%23FE5196?logo=conventionalcommits&logoColor=white
[conventional commits]: https://conventionalcommits.org
[jupyter-book-image]: https://jupyterbook.org/en/stable/_images/badge.svg
[jupyter book]: https://jupyterbook.org

[repo-url]: https://github.com/{{ github_username }}/{{ github_repo_name }}
[pypi-url]: https://pypi.org/project/{{ project_name }}
[docs-url]: {{ documentation_url }}
[changelog]: https://github.com/{{ github_username }}/{{ github_repo_name }}/blob/main/CHANGELOG.md
[contributing guidelines]: https://github.com/{{ github_username }}/{{ github_repo_name }}/blob/main/CONTRIBUTING.md
<!-- Links: -->

{{ project_short_description }}

- Documentation: [{{ documentation_url }}][docs-url]
- GitHub: [https://github.com/{{ github_username }}/{{ github_repo_name }}][repo-url]
- PyPI: [https://pypi.org/project/{{ project_name }}][pypi-url]

{{ project_description }}

## Changelog

See the [CHANGELOG] for more information.

## Contributing

Contributions are welcome! Please see the [contributing guidelines] for more information.

{% if project_lincense != 'None' -%}
## License

This project is released under the [{{ project_license }} License][license-url].
{% endif -%}
