{!README.md!}

Check out the [usage](usage) section for further information.

{% if project_name != 'hyperfast-python-template' %}
!!! note

    This project is under active development.
{% endif -%}
