# @package _global_
defaults:
  - _self_
  - about: __init__
  - mode: __init__
  - cmd: null

  - override hydra/help: help
  - override hydra/hydra_logging: colorlog
  - override hydra/job_logging: colorlog
